.buttonPrimary {
    display: inline-block;
  }
  .buttonPrimary a {
    background-color: transparent;
    border: 3px solid #20c47d;
    color: white;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    padding: 8px 40px;
    display: inline-block;
    transition-duration: 0.2s;
  }
  .buttonPrimary a:hover {
    background-color: #20c47d;
    transition-duration: 0.2s;
    color: white;
  }
  .buttonSecondary {
    display: inline-block;
  }
  .buttonSecondary a {
    background-color: white;
    border: 3px solid white;
    color: black;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    padding: 8px 40px;
    display: inline-block;
    transition-duration: 0.2s;
  }
  .buttonSecondary a:hover {
    background-color: #ddd;
    border: 3px solid #ddd;
    transition-duration: 0.2s;
  }
  
  .heading {
    margin-bottom: 40px;
  }
  .title h3 {
    font-size: 3em;
  }
  .subtitle h4 {
    font-size: 1.2em;
    font-family: "PT Sans", sans-serif;
    color: #20c47d;
    text-transform: uppercase;
  }
  
  .icon svg {
    fill: #20c47d;
  }
  
  .navMobile {
    display: none;
  }
  .navDesktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 40px;
    transition-duration: 0.2s;
  }
  .navDesktop .left {
    width: 25%;
  }
  .navDesktop .center {
    width: 50%;
  }
  .navDesktop .right {
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .navDesktop .logo {
    width: 200px;
    position: relative;
  }
  .navDesktop .logoImg {
    width: 100%;
    height: auto;
  }
  .navDesktop .center {
    text-align: center;
  }
  .navDesktop .link {
    font-family: "Manrope", sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.5em;
    position: relative;
    cursor: pointer;
  }
  .navDesktop .link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #20c47d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .navDesktop .link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .navDesktop .social {
    display: inline-block;
  }
  .navDesktop .social a {
    padding: 0 10px;
  }
  .navDesktop .social svg {
    fill: white;
    transition-duration: 0.2s;
  }
  .navDesktop .social a:hover svg {
    fill: #20c47d;
    transition-duration: 0.2s;
  }
  .navDesktopScrolled {
    background-color: black;
    transition-duration: 0.2s;
  }
  
  .header {
    background-image: url(/img/header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  .header h2 {
    font-size: 4em;
  }
  .header h3 {
    font-size: 1em;
  }
  .header .content {
    margin-top: 20em;
  }
  .header .buttons {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }
  .header .name {
    width: 700px;
    margin: 10px 0;
  }
  .header .nameImg {
    width: 100%;
    height: auto;
  }
  
  .bio {
    background-color: black;
    color: white;
    padding: 5em 0;
  }
  .bio .bioBox {
    display: flex;
  }
  .bio .left {
    text-align: right;
    width: 40%;
  }
  .bio .right {
    width: 60%;
    padding: 20px;
  }
  .bio .divider {
    width: 50px;
    height: 3px;
    background-color: #20c47d;
    margin: 20px 0;
    display: inline-block;
  }
  .bio .text {
    margin: 20px 0;
  }
  .bio .image {
    width: 100%;
  }
  .bio .image .imageImg {
    width: 100%;
    height: auto;
  }
  
  .shows {
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding: 5em 0;
  }
  .shows .icon svg {
    fill: #20c47d;
  }
  .showBox {
    margin: 40px 0;
  }
  .showItem {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  .showItem .left {
    width: 20%;
    background-color: #333;
    font-size: 1.4em;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .showItem .center {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .showItem .venue {
    width: 80%;
    background-color: #222;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 50px;
  }
  .showItem .right {
    width: 20%;
  }
  
  .music {
    background-color: black;
    color: white;
    padding: 5em 0;
  }
  .music .spotify {
    margin: 40px 0;
  }
  
  .contact {
    background-color: #0e0e0e;
    color: white;
    text-align: right;
    padding: 5em 0;
  }
  .contact .mail a {
    color: white;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 0.2s;
  }
  .contact .mail a:hover {
    color: #20c47d;
    transition-duration: 0.2s;
  }
  .footer {
    background-color: black;
    padding: 3em 0;
    color: #646464;
    text-align: center;
    font-size: 0.8em;
  }
  
  @media only screen and (max-width: 1000px) {
    .navDesktop {
      display: none;
    }
  
    .navMobile {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 998;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      transition-duration: 0.2s;
    }
    .navMobile .left {
      width: 40%;
    }
    .navMobile .center {
      width: 20%;
      text-align: center;
    }
    .navMobile .right {
      width: 40%;
      text-align: right;
    }
    .navMobile .left .logo {
      width: 120px;
    }
    .navMobile .left .logoImg {
      width: 100%;
      height: auto;
    }
    .navMobile .burger svg {
      fill: white;
    }
    .navMobile .social {
      display: inline-block;
      padding: 0 4px;
    }
    .navMobile .social svg {
      fill: white;
      transition-duration: 0.2s;
    }
    .navMobile .social:hover svg {
      fill: #20c47d;
      transition-duration: 0.2s;
    }
    .menuMobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: black;
      z-index: 999;
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
      align-items: center;
    }
    .navMobileScrolled {
      background-color: black;
      transition-duration: 0.2s;
    }
    .menuMobile .logo {
      width: 250px;
      margin-bottom: 20px;
    }
    .menuMobile .logoImg {
      width: 100%;
      height: auto;
    }
    .menuMobile .link {
      font-family: "Manrope", sans-serif;
      padding: 4px 0;
      font-size: 1.5em;
    }
    .menuMobile .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .menuMobile .close svg {
      fill: white;
    }
  
    .header h2 {
      font-size: 2em;
    }
    .header .name {
      width: 80%;
      margin: 10px auto;
    }
  
    .bio {
      padding: 40px 20px;
    }
    .bio .bioBox {
      display: block;
    }
    .bio .bioBox .left {
      width: 100%;
      text-align: left;
    }
    .bio .bioBox .right {
      width: 100%;
      padding: 0;
    }
  
    .shows {
      padding: 80px 20px;
    }
    .showItem {
      display: block;
      text-align: center;
      margin-bottom: 40px;
    }
    .showItem .left,
    .showItem .center,
    .showItem .right {
      width: 100%;
    }
    .showItem .left {
      font-size: 1.2em;
      padding: 15px;
    }
    .showItem .venue {
      width: 100%;
      margin-bottom: 20px;
      font-size: 0.8em;
    }
  
    .music {
      padding: 80px 20px;
    }
    .contact {
      padding: 80px 20px;
    }
  }