.heading {
  margin-bottom: 20px;
}
.heading h2 {
  font-size: 4em;
  color: #a38e63;
  font-family: "Playfair Display", serif;
}

.navDesktop {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.navDesktop .link {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px 20px;
  font-family: "din";
  font-size: 1.2em;
  letter-spacing: 2px;
  color: #a38e63;
  line-height: 70px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}

.header {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.header h1 {
  font-size: 8em;
  font-family: "Playfair Display", serif;
  color: #a38e63;
  margin: 0;
  padding: 0;
  line-height: 0.8em;
}
.header h2 {
  font-size: 4em;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}
.header .content {
  margin-bottom: 2em;
}
.header .icon svg {
  cursor: pointer;
  fill: white;
}
.header .icon {
  margin-bottom: 2em;
}

.bio {
  color: white;
  min-height: 100vh;
}
.bio .title {
  color: #a38e63;
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
}
.bio .bioBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4em;
}

.music {
  color: white;
  min-height: 100vh;
}
.music .musicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.music .musicBox .left {
  width: 10%;
}
.music .musicBox .right {
  width: 90%;
}
.music .icon {
  background-color: transparent;
  border: 2px solid #a38e63;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition-duration: 0.2s;
}
.music .icon:hover {
  background-color: #a38e63;
  transition-duration: 0.2s;
}
.music .icon svg {
  fill: white;
}

.videos {
  color: white;
}
.videos .videosBox {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videos .video {
  width: 100%;
}

.gallery {
  background-image: url(/img/sara-2.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.contacto {
  color: white;
  padding-top: 32em;
  text-align: center;
}
.contacto .content {
  background-color: white;
  padding: 40px 0;
  color: black;
}
.contacto .contactoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto .contactoBox .left {
  width: 50%;
}
.contacto .contactoBox .right {
  width: 50%;
}
.contacto .icons {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
}
.contacto .icon {
  background-color: transparent;
  border: 2px solid #a38e63;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition-duration: 0.2s;
}
.contacto .icon svg {
  fill: #a38e63;
}
.contacto .right {
  color: #a38e63;
  text-align: left;
  padding: 0 40px;
}
.contacto .right a {
  text-decoration: none;
  color: black;
}
.contacto .copyright {
  margin: 20px 0;
  font-size: 0.8em;
  color: #a38e63;
}
