.heading {
  margin-bottom: 10px;
}
.heading h2 {
  font-size: 4em;
  color: #ea8f8c;
  font-family: "Damion", cursive;
}
.navDesktop .flex {
  display: flex;
  justify-content: space-between;
}
.navDesktop {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.navDesktop .link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px 20px;
  font-family: "din";
  font-size: 2em;
  letter-spacing: 2px;
  color: #ea8f8c;
  padding: 15px 0;
  cursor: pointer;
  font-family: "Damion", cursive;
}
.navDesktop .link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 15px;
  left: 0;
  background-color: #ea8f8c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navDesktop .link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navDesktop .right {
  width: 25%;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}
.navDesktop .social {
  display: inline-block;
}
.navDesktop .social a {
  padding: 0 10px;
}
.navDesktop .social svg {
  fill: #ea8f8c;
  transition-duration: 0.2s;
}
.navDesktop .social a:hover svg {
  fill: #a38e63;
  transition-duration: 0.2s;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.header .content {
  width: 100%;
  margin-bottom: 2em;
}
.header .content img {
  width: 100%;
  height: 100%;
}
.header .icon svg {
  cursor: pointer;
  fill: white;
}
.bio {
  color: white;
  min-height: 100vh;
}
.bio .title {
  color: #a38e63;
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
}
.bio .bioBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bio .heading h2 {
  color: white;
}
.bio .socials {
  display: flex;
  column-gap: 10px;
}
.bio .socials svg {
  fill: white;
}

.music {
  color: white;
  min-height: 100vh;
  background-color: #ea8f8c;
}
.music .musicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.music .musicBox .left {
  width: 10%;
}
.music .musicBox .right {
  width: 90%;
}
.music .icon {
  background-color: transparent;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition-duration: 0.2s;
}
.music .icon:hover {
  background-color: white;
  transition-duration: 0.2s;
}
.music .icon:hover svg {
  fill: #ea8f8c;
}
.music .icon svg {
  fill: white;
}
.music .heading h2 {
  color: white;
}

.videos {
  color: white;
}
.videos .videosBox {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videos .video {
  width: 100%;
}
.videos .videosGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  column-gap: 20px;
}
.contacto {
  color: white;
  padding-top: 32em;
  text-align: center;
}
.contacto .content {
  background-color: white;
  padding: 40px 0;
  color: black;
}
.contacto .contactoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto .contactoBox .left {
  width: 50%;
}
.contacto .contactoBox .right {
  width: 50%;
}
.contacto .icons {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
.contacto .icon {
  background-color: transparent;
  border: 2px solid #ea8f8c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.contacto .icon:hover {
  background-color: #ea8f8c;
  transition-duration: 0.2s;
}
.contacto .icon:hover svg {
  fill: white;
  transition-duration: 0.2s;
}
.contacto .icon svg {
  fill: #ea8f8c;
  transition-duration: 0.2s;
}
.contacto .right {
  color: #a38e63;
  text-align: left;
  padding: 0 40px;
}
.contacto .right a {
  text-decoration: none;
  color: #848484;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.2s;
}
.contacto .right a:hover {
  color: #ea8f8c;
  transition-duration: 0.2s;
}
.contacto .copyright {
  margin: 20px 0;
  font-size: 0.8em;
  color: #aaa;
}
.music .iconsMobile {
  display: none;
}
.navMobile {
  display: none;
}
.songBox {
  display: none;
}
.songBox1 {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .navDesktop {
    display: none;
  }
  .navMobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
  }
  .navMobile .left {
    width: 40%;
  }
  .navMobile .left h1 {
    margin: 0;
    padding: 0;
    color: white;
  }
  .navMobile .center {
    width: 20%;
    text-align: center;
  }
  .navMobile .right {
    width: 40%;
    text-align: right;
  }
  .navMobile .left .logo {
    width: 120px;
  }
  .navMobile .left .logo img {
    width: 100%;
    height: auto;
  }
  .navMobile .burger svg {
    fill: white;
  }
  .navMobile .social {
    display: inline-block;
    padding: 0 4px;
  }
  .navMobile .social svg {
    fill: white;
    transition-duration: 0.2s;
  }
  .navMobile .social:hover svg {
    fill: #a38e63;
    transition-duration: 0.2s;
  }
  .navMobileScrolled h1 {
    color: #a38e63 !important;
  }
  .navMobileScrolled svg {
    fill: #a38e63 !important;
  }
  .menuMobile .link {
    font-size: 2.5em;
    font-family: "Damion", cursive;
  }

  .menuMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ea8f8c;
    z-index: 999;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .menuMobile .logo {
    width: 80%;
    margin: auto;
  }
  .menuMobile .logo img {
    width: 100%;
    height: auto;
  }
  .navMobileScrolled {
    background-color: white;
    transition-duration: 0.2s;
  }
  .header h1 {
    font-size: 4em;
  }
  .header h2 {
    font-size: 2em;
  }
  .bio {
    padding: 20px;
  }
  .bio .bioBox {
    width: 60%;
  }
  .music .musicBox .left {
    display: none;
  }
  .music .iconsMobile {
    display: flex;
    justify-content: center; /*para alinear un elemento */
    column-gap: 10px; /*para separar los elementos*/
  }
  .contacto .contactoBox {
    display: block;
  }
  .contacto .contactoBox .left {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .contacto .contactoBox .right {
    width: 100%;
    text-align: center;
  }
  .videos .videosGrid {
    display: block;
    padding: 20px;
  }
  .videos iframe {
    height: 200px;
    margin-bottom: 20px;
  }
  .bio .bioBox {
    width: 80%;
  }
  .music {
    text-align: center;
  }
  .contacto h2 {
    margin: 0;
  }
  .contacto .icons {
    margin-bottom: 20px;
  }
  .header {
    display: block;
    height: auto;
    min-height: auto;
    padding: 28em 20px 2em 20px;
  }
  .bio {
    display: block;
    height: auto;
    min-height: auto;
    padding: 2em 20px 2em 20px;
  }
  .music {
    display: block;
    height: auto;
    min-height: auto;
    padding: 2em 0 2em 0;
  }
  .music .musicBox .right {
    width: 100%;
  }
  .music .musicBox .iconsMobile {
    margin-bottom: 20px;
  }
  .music .musicBox {
    display: block;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 2em 20px 2em 20px;
    text-align: center;
  }
  .music h2 {
    padding: 0;
    margin: 0;
  }
  .videos {
    display: block;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 2em 20px 2em 20px;
    text-align: center;
  }
  .videos .videosBox {
    display: block;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 2em 20px 2em 20px;
    text-align: center;
  }
  .contacto {
    display: block;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 16em 0 0 0;
    text-align: center;
  }
}